.dark {
    --neutral-950: #191919 !important;
    --neutral-800: #252626 !important;
    --neutral-700: #4e4e4f !important;
    --neutral-600: #322547 !important;
    --neutral-500: #949494 !important;
    --neutral-400: #a08ca4 !important;
  }
  