__pycache__
__pycache__/

cache
cache/

.ruff_cache
.ruff_cache/

*.png
*.jpg
*.jpeg
*.webp
*.wav
*.mp4
*.mp3


.vscode
.vscode/

tmp
tmp/

venv
venv/

nsfw_mobilenet2.224x224.h5

CHEKLIST.md

dev_config.json

.github
.github/

*.log