# Ignore venv directory
venv/

# Ignore cache directories
pycache/
cache/
.ruff_cache/

# Ignore image and video files
*.png
*.jpg
*.jpeg
*.webp
*.wav
*.mp4
*.mp3
*.mov
*.webm
*.gif

# Ignore Visual Studio Code settings
.vscode/

# Ignore temporary files
tmp/

# Ignore Keras model weights file
*.h5

# Ignore development configuration files
settings/dev_config.json
dev_config.json