icecream==2.1.3
gradio==3.42.0
tqdm

basicsr
einops==0.7.0
piexif==1.1.3
ldm==0.1.3
realesrgan
Roboto
safetensors==0.4.0
timm==0.4.12
upscalers==0.5.3

numpy==1.24.3
pillow==10.0
rembg==2.0.50
onnxruntime==1.16.1

urllib3==2.0.5
protobuf==3.19.0
nsfw_detector==1.1.1